<div class="col-md-12" style="background:white">
    <div class="blogWrapper col-md-8 col-md-offset-2">
        <div>
            <h1><%= @post.title %></h1>
        </div>
        <div>
            <p><%= raw @post.content %></p>
        </div>
    </div>
</div>